@import 'medias';

.about {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
  text-align: justify;
  color: #823547;
  padding: 25px 0 25px 0;
  min-height: 80vh;
  background-color: rgba(244,224,217,0.6);
  line-height: 1.6;
}

.about__excerpt {
  padding: 30px;
  font-family: DidactGothic;
}

.about--brief {
  @include large {
    min-height: 400px;
    flex-direction :row;

    .about__excerpt--brief {
      max-width: 950px;
      width: 50%;
    }
  }
}

.about--detailed {
  @include large {
    min-height: 300px;
  }
}

.about__img {
  display: none;

  @include large {
    display: block;
  }
}

.about__excertCarac {
  padding: 5px 0px 5px 0px;
}

