@import 'medias';

.buy {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  text-align: center;
  padding: 25px 0 25px 0;
  background: url('../img/1_small.png');
  background-size: cover;

  @include medium {
    background-image: url('../img/1_medium.png');
  }

  @include large {
    background-image: url('../img/1.png');
  }
}

.buy__link {
  text-decoration: none;
  background-color: rgba(255,255,255,0.7);
  width: 85%;
  padding: 10px;
  font-family: GreatVibes;
  font-size: 1.5rem;
  color: #674667;

  &:hover {
    color: #994e66;
    background-color: rgba(247,202,201,0.7);
  }

  @include medium {
    font-size: 2.1rem;
    width: auto;
    padding: 25px 45px 25px 45px;
  }
}

