.gallery {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.gallery__all {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.gallery__img {
  padding: 5px;


  @media (min-width:62em) {
    flex-basis: 26%;
  }
}

.gallery__title {
  font-weight: normal;
  font-family: GreatVibes;
  font-size: 1.8rem;
  color: #674667;
  background-color: #f9e0e0;
  padding: 15px 50px 15px 50px;
}


