header {
  display:flex;
  justify-content:center;
  align-items:center;
  background:url(./../img/3.png);
  background-size:cover;
  height:50vh;
  padding:5px;
  
  h2{
    font-family: 'Great Vibes', cursive;
    background:rgba(255,255,255,0.6);
	padding:15px 85px 15px 85px;
	text-align:center;
	font-weight:normal;
	font-size:3rem;
	color:#68404c;
	}
}
