@import 'medias';

.home {
  margin-top: 75px;
  height: 80vh;
  background: url('../img/3_small.jpg');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  @include medium {
    background-image: url('../img/3_medium.jpg');
  }

  @include large {
    background-image: url('../img/3.jpg');
  }
}

.home__title {
  background-color: rgba(255,255,255,0.7);
  width: 85%;
  padding: 10px;
  font-family: GreatVibes;
  font-size: 1.8rem;
  color: #674667;

  @include medium {
    font-size: 2.1rem;
    width: auto;
    padding: 25px 45px 25px 45px;
  }
}

