include ../partials/header.pug

<section id="1" class="home">
  <p class="home__title">Réveillez l'âme de la chasseuse de cartes qui se trouve en vous !</p>
</section>


<section id="2" class="about about--brief">
  <img class="about__gif" src="img/sakura.gif">
  <p class="about__excerpt about__excerpt--brief">Si vous passiez votre vie devant les dessins animés durant les années 2000 alors le nom de Sakura doit vous être familier ! La fameuse chasseuse de cartes ! Tout commence le jour où Sakura entend du bruit dans la bibliothèque de son père. Elle y trouve un livre : The Clow et en le touchant, celui-ci s'ouvre tout seul, et une espèce de peluche sort de la couverture. Son nom est Kerobero et il s'aperçoit que le livre est vide, alors qu'il est censé contenir des cartes magiques et divinatoires appelées cartes de Clow. C'est ainsi que Sakura devra récupérer toutes les cartes qui se sont échappées du livre. Et si aujourd'hui, on vous donnait l'occasion d'obtenir le mythique livre The Clow ainsi que toutes les cartes qu'il contient...</p>
  <img class="about__gif" src="img/carte1.gif">
</section>

<section id="3" class="buy">
  <a class="buy__link" href="https://otakumode.com/shop/5470301fe8b867df13dc3282/CLAMP-Cardcaptor-Sakura-Clow-Card-Set-Reprint-Ver">Commandez votre propre set de cartes, dès maintenant !</a>
</section>

<section id="4" class="about about--detailed">
  <img class="about__img" src="img/livre.png">
  <ul class="about__excerpt about__excerpt--detailed">
    <li class="about__excertCarac"><u>Nom du produit :</u> CLAMP Cardcaptor Sakura Clow Card Set</li>
    <li class="about__excertCarac"><u>Fabricant :</u> Kodansha</li>
    <li class="about__excertCarac"><u>Spécificités :</u> Set de 52 cartes (+ 4 cartes exclusives)</li>
    <li class="about__excertCarac"><u>Prix :</u> environ 40 euros</li>
    <li class="about__excertCarac"><u>Caractéristiques du livre :</u> Carton dur brillant</li>
    <li class="about__excertCarac"><u>Caractéristiques des cartes :</u> Carton non glacé</li>
  </ul>
</section>

<section id="5" class="gallery">
  <h1 class="gallery__title">Galerie d'images</h1>
  <div class="gallery__all">
    <img class="gallery__img" src="img/9.jpg">
    <img class="gallery__img" src="img/5.jpg">
    <img class="gallery__img" src="img/11.jpg">
    <img class="gallery__img" src="img/6.jpg">
    <img class="gallery__img" src="img/7.jpg">
    <img class="gallery__img" src="img/4.jpg">
    <img class="gallery__img" src="img/8.jpg">
    <img class="gallery__img" src="img/2.jpg">
    <img class="gallery__img" src="img/10.jpg">
  </div>
</section>

include ../partials/footer.pug
