include ../partials/header.pug

<section class="home">
  <p class="home__title">Réveillez l'âme de la chasseuse de cartes qui se trouve en vous !</p>
</section>


<section class="about about--brief">
  <img class="about__gif" src="img/sakura.gif">
  <p class="about__excerpt about__excerpt--brief">Quanta autem vis amicitiae sit, ex hoc intellegi maxime potest, quod ex infinita societate generis humani, quam conciliavit ipsa natura, ita contracta res est et adducta in angustum ut omnis caritas aut inter duos aut inter paucos iungeretur.Dumque ibi diu moratur commeatus opperiens, quorum translationem ex Aquitania verni imbres solito crebriores prohibebant auctique torrentes, Herculanus advenit protector domesticus, Hermogenis ex magistro equitum filius, apud Constantinopolim, ut supra rettulimus, populari quondam turbela discerpti. quo verissime referente quae Gallus egerat, damnis super praeteritis maerens et futurorum timore suspensus angorem animi quam diu potuit emendabat.</p>
  <img class="about__gif" src="img/carte1.gif">
</section>

<section class="buy">
  <a class="buy__link" href="https://otakumode.com/shop/5470301fe8b867df13dc3282/CLAMP-Cardcaptor-Sakura-Clow-Card-Set-Reprint-Ver">Commandez votre propre set de cartes, dès maintenant !</a>
</section>

<section class="about about--detailed">
  <p class="about__excerpt about__excerpt--detailed">Quanta autem vis amicitiae sit, ex hoc intellegi maxime potest, quod ex infinita societate generis humani, quam conciliavit ipsa natura, ita contracta res est et adducta in angustum ut omnis caritas aut inter duos aut inter paucos iungeretur.Dumque ibi diu moratur commeatus opperiens, quorum translationem ex Aquitania verni imbres solito crebriores prohibebant auctique torrentes, Herculanus advenit protector domesticus, Hermogenis ex magistro equitum filius, apud Constantinopolim, ut supra rettulimus, populari quondam turbela discerpti. quo verissime referente quae Gallus egerat, damnis super praeteritis maerens et futurorum timore suspensus angorem animi quam diu potuit emendabat.</p>
</section>

<section class="gallery">
  <h1 class="gallery__title">Galerie d'images</h1>
  <div>
    <img class="gallery__img" src="img/9.png">
    <img class="gallery__img" src="img/5.png">
    <img class="gallery__img" src="img/11.png">
    <img class="gallery__img" src="img/6.png">
    <img class="gallery__img" src="img/7.png">
    <img class="gallery__img" src="img/4.png">
    <img class="gallery__img" src="img/8.png">
    <img class="gallery__img" src="img/2.png">
    <img class="gallery__img" src="img/10.png">
  </div>
</section>

include ../partials/footer.pug
