include ../partials/header.pug

<h1>Hello world</h1>

<p>ceci est un paragraphe</p>


<div>
  <a href="page2.html">See page 2</a>
</div>
<img src="img/sky.jpg">
<img src="img/original.jpg">
<img src="img/yoshi.png">

include ../partials/footer.pug
