include ../partials/header.pug

<section id="about">
  <img src="img/sakura.gif">
  <p>Fan des shojos dans votre jeunesse ? Vous passiez votre vie devant Sakura chasseuse de cartes ? Alors, vous êtes au bon endroit. Ici, révélez la chasseuse qui se trouve en vous ! Qui cum venisset ob haec festinatis itineribus Antiochiam.</p>
  <img src="img/carte1.gif">
</section>

<section id="buy">
 <div>
  <a href="">Commandez votre propre set de cartes, dès maintenant ! </a>
 </div>
</section>

<div>
  <a href="page2.html">See page 2</a>
</div>

include ../partials/footer.pug
