include ../partials/header.pug

<section id="home">
  <p>Réveillez l'âme de la chasseuse de cartes qui se trouve en vous !</p>
</section>


<section id="about">
  <img src="img/sakura.gif">
  <p>Fan des shojos dans votre jeunesse ? Vous passiez votre vie devant Sakura chasseuse de cartes ? Alors, vous êtes au bon endroit.</p>
  <img src="img/carte1.gif">
</section>

<section id="buy">
 <div>
  <a href="">Commandez votre propre set de cartes, dès maintenant ! </a>
 </div>
</section>

<div>
  <a href="page2.html">See page 2</a>
</div>

include ../partials/footer.pug
