<footer class="footer">
  <p class="footer__text">Site fictif créé par Margaux Gautherin</p>
  <p class="footer__text">Credits photos : DonaldPresents & Margaux Gautherin</p>
</footer>
</body>
</html>
