<!DOCTYPE html>
<html>
  <head>
    <title>Clow card set</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="icon" href="img/favicon.png" type="image/x-icon">
  </head>
  <body>
    <header class="header">
      <a href="" class="header__logo">Clow card set</a>
      <input class="header__btn" type="checkbox" id="header__btn" />
      <label class="header__icon" for="header__btn">
        <span class="header__navicon">
        </span>
      </label>
      <ul class="header__menu">
        <li class="header__menuLi">
          <a class="header__menuLink" href=".home">Accueil</a>
        </li>
        <li class="header__menuLi">
          <a class="header__menuLink" href=".about">Présentation</a>
        </li>
        <li class="header__menuLi">
          <a class="header__menuLink" href=".buy">Acheter</a>
        </li>
        <li class="header__menuLi">
          <a class="header__menuLink" href=".about2">Caractéristiques</a>
        </li>
        <li class="header__menuLi">
          <a class="header__menuLink" href=".gallery">Galerie</a>
        </li>
      </ul>
    </header>
