<!DOCTYPE html>
<html>
  <head>
    <title>Clow card set</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
    <script type="text/javascript" src="js/script.js"></script>
    <link rel="icon" href="img/favicon.png" type="image/x-icon">
  </head>
  <body>
    <header>
      <h2>Clow card set</h2>
    </header>
