@import 'blocs/header';
@import 'blocs/footer';
@import 'blocs/home';
@import 'blocs/about';
@import 'blocs/buy';
@import 'blocs/gallery';
@import 'global/fonts';
@import 'global/medias';
@import '../vendors/reset';

* {
  box-sizing: border-box;
}

section {
  margin-left: 8px;
  margin-right: 8px;
}

